body {
  background: #fff;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.col-sm-4 {
  padding-left: 7px;
  padding-right: 7px;
}

.panel {
  border-radius: 0;
}
.save {
   padding-left: 5px;
}
.pad5 {
   padding-left: 5px;
}
.bootcards-summary .panel-body > .row > div {
  padding: 2px;
  cursor: pointer;
}

.bootcards-summary-item {
  padding: 10px;
  height: 85px;
}

.bootcards-summary-item:hover {
  background: #98E098
}

.bootcards-summary-item.active {
  background: #00a830;
}

.bootcards-summary-item.active:hover {
  background: #999;
}


.bootcards-summary-item.active > i,
.bootcards-summary-item.active > h4
{
  color: #fff;
}

.bootcards-summary-item h4 {
  color: #aaa;
}

.panel-footer {
  padding: 5px 15px;
  background-color: #fff;
  border-radius: 0px;
}


.panel-footer small {
  text-align: left;
}

.featureAttribute {
  color: #aaa;
}

.featureAttribute:hover {
  text-decoration: none;
  color: #aaa;
  cursor: pointer;
}

.enableAttr {
  color: #333;
}

.enableAttr:hover {
  color: #333;
}

.footer {
    position: fixed;
    left: 25px;
    bottom: 25px;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
@-moz-keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
@keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }

.fade-out {
  opacity: 1;  /* make things invisible upon start */
  -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeOut ease-in 1;
  animation:fadeOut ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
